{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="align-self-center mt-0">

            <header class="admin-header d-flex align-items-center justify-content-center text-center">
                <h4 class="text-white font-weight-bolder my-0">DASHBOARD</h5>
            </header>

            <div class="total-signups mx-auto text-center">
                <h6>TOTAL SIGNUPS</h6>
                <h1 class="tally">{{subscribers.count}}</h1>
            </div>

            <table class='d-flex align-items-center justify-content-center'>
                <tr class="text-center">
                    <th>NAME</th>
                    <th>EMAIL</th>
                </tr>

                {% for subscriber in subscribers %}

                <tr>
                    <td class="name">{{subscriber.first_name | upper }} {{subscriber.last_name | upper }}</td>
                    <td class="email">{{subscriber.email}}</td>
                </tr>

                {% endfor%}
            </table>
        </div>
    </div>
</main>

{% endblock %}